---
Checks: '*,
    -boost-*,
    -fuchsia-*,
    -google-*,
    -zircon-*,
    -abseil-*,
    -llvm-*,
    -llvmlibc-*,
    -cert-*,
    -modernize-use-trailing-return-type,
    -readability-braces-around-statements,
    -readability-implicit-bool-conversion,
    -hicpp-use-auto,
    -hicpp-braces-around-statements,
    -concurrency-mt-unsafe,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-c-arrays,
    -hicpp-avoid-c-arrays,
    -modernize-avoid-c-arrays,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -altera-unroll-loops,
    -altera-id-dependent-backward-branch,
    -readability-math-missing-parentheses,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -hicpp-uppercase-literal-suffix,
    -readability-uppercase-literal-suffix,
    -readability-identifier-length,
    -modernize-use-designated-initializers,
    -portability-avoid-pragma-once,
    -modernize-use-auto,
    -readability-static-accessed-through-instance,
    -misc-non-private-member-variables-in-classes,
    -readability-function-cognitive-complexity,
    -hicpp-signed-bitwise,
    -cppcoreguidelines-pro-type-vararg,
    -bugprone-narrowing-conversions,
    -altera-struct-pack-align,
    -cppcoreguidelines-narrowing-conversions,
    -hicpp-vararg,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -hicpp-function-size,
    -readability-function-size,
    -hicpp-no-array-decay,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -readability-use-anyofallof,
    -misc-include-cleaner'
CheckOptions: [{
    key: misc-non-private-member-variables-in-classes,
    value: IgnoreClassesWithAllMemberVariablesBeingPublic
}]
HeaderFilterRegex: '^(?!.*\/build\/).*'
FormatStyle: none